/* #root>div{
  height: 300px;
  width: 300px;
  background-color: aqua;
  margin: 50px auto;
}
#root>div>div{
  height: 200px;
  width: 200px;
  background-color: beige;
  margin: 0px auto;
}
#root>div>div>div{
  height: 100px;
  width: 100px;
  background-color: brown;
  margin: 0px auto;
} */